.aboutMe {
    background-color: white;
    width: 100%;
    /* height: 600px; */
    /* margin: auto; */
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1rem;
    box-shadow: 10px 10px 7px gray;
}
.profilePic {
    padding: 0em 0em 1em .2em;
}
.about {
    padding: .2em 0em .2em .5em;
    color: limegreen;
}
@media only screen and (min-width: 768px) {
    .aboutMe {
        margin-bottom: 21.75rem;
    }
}
@media only screen and (min-width: 992px) {
    .aboutMe {
        width: 800px;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
@media only screen and (min-width: 1200px) {
    .aboutMe {
        width: 960px;
        margin: auto;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
    }
}