body {
    background-image: url("../images/light_honeycomb.png");
    overflow-x: hidden;
}

.header{
    width: 100%;
    /* height: 75px; */
    background-color: white;
    text-align: center;
    /* margin: 0em; */
    /* justify-content: center; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}
.name-div {
    padding: 0;
}
.topnav {
    /* text-align: center; */
    /* align-items: center; */
    /* margin: 0em 0em 0em 3em; */
    background-color: white;
    /* width: 100%; */
    /* height: 75px; */
    /* padding: 1.5em 0em 0em 0em; */
    font-family: Arial, Helvetica, sans-serif;
}
.topnav a {
    color: gray;
}
#JClohosey {
    color: limegreen;
    background-color: rgb(0, 0, 0);
    /* text-align: center; */
    /* align-items: center; */
    /* width: 40%; */
    /* height: 75px; */
    /* margin: 0em 0em 0em 7.25em; */
    /* padding: .8em 0em 0em 0em; */
    /* font-size: 25px; */
}
.custom-btn {
    font-size: 2rem;
    background-color: limegreen;
    color: black;
    text-align: center;
    border: solid 1px black;
}
footer {
    background-color: black;
    border-top: 3px solid limegreen;
    border-bottom: 1px solid limegreen;
    /* position: absolute; */
    /* width: 100%; */
    height: 3em;
    /* position: fixed; */
    bottom: 0;
}

@media only screen and (min-width: 768px) {
    #JClohosey {
        margin: 0;
        height: 100%;
    }
  }
@media only screen and (min-width: 992px) {
    .header {
        height: 60px;
    }
    #JClohosey {
        width: 75%;
        height: 60px;
        align-items: center;
        text-align: center;
        font-size: 1em;
        margin: 0em 0em 0em 3em;
        padding-top: .3em;
    }
    .topnav {
        width: 83%;
        height: 60px;
        align-items: center;
        text-align: center;
        font-size: .675em;
        padding-top: .6em;
        padding-left: 6.5em;
        margin-right: 0em;
    }
    .topnav a:nth-child(1),
    .topnav a:nth-child(2) {
        border-right: 1px solid darkgray;
        padding-right: .25em;
    }
  }